html
    head
        title Test Project
        link( rel="stylesheet", href="styles/main.css" )
    body
        .center
            h1 Keep Pushing
            i or
            h1 Quit Dreaming
        script( src="scripts/main.js" )